<li class="{{#if active.employees}}active{{/if}}">
	<a href="../">Employees <span class="sr-only">(current)</span>
	</a>
</li>
<li class="{{#if active.PO}}active{{/if}}"><a href="../po">Purchases</a></li>
<li class="{{#if active.projects}}active{{/if}}">
	<a href="../projects">Projects</a>
</li>
<li>
	<a href="../templates.html">Templates</a>
</li>
<li class="{{#if active.materials}}active{{/if}}{{#if active.creatematerials}}active{{/if}}">
	<a href="../materials">Materials</a>
</li>
<li>
	<a href="#">Reports</a>
</li>
