
<table class="table table-striped employee ">
  <thead>
    <div class="row">

      <tr class="headerrow">
    </div>

    {{#each tableColumns as |column|}}
      <th>{{column.value}}</th>
    {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each tableData as |row|}}
      <tr>
        {{#../tableColumns as |col|}}
          <td>
            {{#if col.editable}}
              <select id="myList" name="myList" onchange="window.location.href=this.value">
                <option>Edit</option>
               
                <option value=" ../viewapo">View</option>
{{#if active.materials}}
{{/if}}
            
                <option>Delete</option>
              </select>
            {{else}}
              {{lookup row col.name}}
            {{/if}}
          </td>
        {{/../tableColumns}}
      </tr>
    {{/each}}
  </tbody>
</table>


